<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rose - Cadastro</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Fonte Jost -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- Link com CSS -->
    <link rel="stylesheet" href="/consultas/public/styles/paginacadastro/cadastro.css"> 
</head>

<body>
    <!-- header: onde vai ter o botão para voltar -->
    <header class="p-4">
        <button onclick="history.back()" class="btn btn-primary"><i class="bi bi-arrow-left text-black"></i></button>
    </header>
    <!-- main: onde vai ter a parte de fazer o cadastro -->
    <main>
        <div class="black"></div>
        <div class="container d-flex justify-content-center align-items-center div-cadastro">
            <!-- Alterado para 'div-cadastro' -->
            <div class="fundo">
                <div class="parte-branca">
                    <div class="card-body cadastro d-flex justify-content-center align-items-center">
                        <!-- Alterado para 'cadastro' -->
                        <h3 class="text-center mb-4">Cadastro</h3>
                        <form onsubmit="return confirmarCadastro()">
                            <div class="form-group">
                                <label for="name">Seu Nome</label>
                                <input type="text" class="form-control" id="name" placeholder="Insira seu nome aqui"
                                    required>
                                <small id="nameError" class="form-text text-danger d-none">Por favor, insira seu
                                    nome.</small>
                            </div>
                            <div class="form-group">
                                <label for="email">Seu Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Insira seu email aqui"
                                    required>
                                <small id="emailError" class="form-text text-danger d-none">Por favor, insira um email
                                    válido.</small>
                            </div>
                            <div class="form-group">
                                <label for="password">Sua Senha</label>
                                <input type="password" class="form-control" id="password"
                                    placeholder="Insira sua senha aqui" required minlength="6">
                                <small id="passwordError" class="form-text text-danger d-none">A senha deve ter pelo
                                    menos 6 caracteres.</small>
                            </div>
                            <button type="submit" class="custom-button">Cadastrar</button>
                        </form>
                        <div class="mt-3 text-center">
                            <p>Já é um membro? <a id="loginLink" href="/consultas/views/codigo/login.html">Faça login</a></p>
                            <!-- Link para login permanece -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../cadastro/cadastro.js"></script>
</body>

</html>