<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <title>Rose - Agendamentos e consultas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/consultas/public/styles/PaginaInicial/font-awesome.min.css">

    <!-- Link com CSS -->
    <link rel="stylesheet" href="/consultas/public/styles/paginaInicial/header.css">
    <link rel="stylesheet" href="/consultas/public/styles/paginaInicial/banner.css">
    <link rel="stylesheet" href="/consultas/public/styles/paginaInicial/dropdown.css">
    <link rel="stylesheet" href="/consultas/public/styles/paginaInicial/backtotop.css"> <!-- Adicionado link para o novo CSS -->
</head>

<body>

    <div id="wrapper">
        <header id="banner" class="p-4">
            <div class="container d-flex justify-content-between align-items-center">
                <div id="logo" class="logo">
                    <h1 class="m-0">ROSE</h1>
                </div>

                <nav id="nav-main" class="nav">
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link text-dark" href="#banner">Início</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="#pricing">Planos</a></li>
                    </ul>
                </nav>

                <div class="dropdown">
                    <button class="btn dropdown-toggle" id="dropdownMenuButton" onclick="toggleDropdown()">
                        <i class="fas fa-user"></i> Perfil
                    </button>
                    <div class="dropdown-menu" id="dropdownMenu">
                        <img src="sua_foto.jpg" alt="Foto do perfil" class="dropdown-item">
                        <a class="dropdown-item" href="/consultas/views/codigo/login.html">Login</a>
                    </div>
                </div>

            </div>
        </header>

        <div id="banner-content" class="text-left p-5">
            <div class="container">
                <h1>"ENCONTRE O MELHOR"</h1>
                <h2>Rose conecta usuários a profissionais de saúde autônomos, facilitando o agendamento de cuidados domiciliares de forma simples e rápida.</h2>
                <a href="/consultas/views/codigo/buscarprofissionais.html" class="btn btn-primary">Comece a procurar!</a>
            </div>
        </div>

        <main id="content" class="container my-5">
            <section id="pricing" class="text-center">
                <div class="section-heading mb-4">
                    <h3>SUA ESCOLHA</h3>
                    <h2>Nós temos o plano certo para você!</h2>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h3 class="card-title">Gratuito</h3>
                                <p class="card-text">Para usuários comuns</p>
                                <div class="price"><span>R$</span>19</div>
                                <ul class="list-unstyled">
                                    <li>5 Downloads</li>
                                    <li>2 Extensions</li>
                                    <li>Tutoriais</li>
                                    <li>Suporte no Fórum</li>
                                    <li>1 ano de atualizações gratuitas</li>
                                </ul>
                                <a href="#" class="btn btn-primary">COMPRE AGORA!</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 border-primary">
                            <div class="card-body">
                                <h3 class="card-title">Básico</h3>
                                <p class="card-text">A escolha mais popular</p>
                                <div class="price"><span>R$</span>29</div>
                                <ul class="list-unstyled">
                                    <li>15 Downloads</li>
                                    <li>5 Extensions</li>
                                    <li>Tutoriais com Arquivos</li>
                                    <li>Suporte no Fórum</li>
                                    <li>2 anos de atualizações gratuitas</li>
                                </ul>
                                <a href="#" class="btn btn-primary">COMPRE AGORA!</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h3 class="card-title">Ilimitado</h3>
                                <p class="card-text">Com tudo o que você precisa</p>
                                <div class="price"><span>R$</span>49</div>
                                <ul class="list-unstyled">
                                    <li>Downloads Ilimitados</li>
                                    <li>Extensões Ilimitadas</li>
                                    <li>Tutoriais em Vídeo HD</li>
                                    <li>Suporte via Chat</li>
                                    <li>Atualizações gratuitas para toda a vida</li>
                                </ul>
                                <a href="#" class="btn btn-primary">COMPRE AGORA!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        
        <button class="back-to-top" aria-label="Voltar ao topo">
            &#8593; <!-- Ícone de seta para cima usando um código HTML -->
        </button

    </div>

    <!-- Scripts do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Scripts do DropDown -->
    <script src="/consultas/public/javascript/jsPaginaInicial/dropdown.js"></script>
    <!-- Script do backToTop -->
    <script src="/consultas/public/javascript/jsPaginaInicial/backtotop.js"></script> 
</body>

</html>
