<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rose - login </title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Fonte josh -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- Link com CSS -->
    <link rel="stylesheet" href="/consultas/public/styles/PaginaLogin/login.css">
</head>

<body>
    <!-- header: onde vai ter o botao para voltar -->
    <header class="p-4">
        <button onclick="history.back()" class="btn btn-primary"><i class="bi bi-arrow-left text-black"></i></button>
    </header>
    <!-- main: onde vai ter a parte de fazer o login -->
    <main>
        <div class="black"></div>
        <div class="container d-flex justify-content-center align-items-center div-login">
            <div class="fundo">
                <div class="parte-branca">
                    <div class="card-body login d-flex justify-content-center align-items-center">
                        <h3 class="text-center mb-4">Login</h3>
                        <form onsubmit="return confirmarLogin()">
                            <div class="form-group">
                                <label for="email">Seu Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Insira seu email aqui"
                                    required>
                                <small id="emailError" class="form-text text-danger d-none">Por favor, insira um email
                                    válido.</small>
                            </div>
                            <div class="form-group">
                                <label for="password">Sua Senha</label>
                                <input type="password" class="form-control" id="password"
                                    placeholder="Insira sua senha aqui" required minlength="6">
                                <small id="passwordError" class="form-text text-danger d-none">A senha deve ter pelo
                                    menos 6 caracteres.</small>
                            </div>
                            <div class="d-flex justify-content-end">
                                <a href="/consultas/views/codigo/esqueceuasenha.html">Esqueceu a senha?</a>
                            </div>
                            <button type="submit" class="custom-button">Entrar</button>
                        </form>
                        <div class="mt-3 text-center">
                            <p>Não é um membro? <a href="/consultas/views/codigo/selecionartipocadastro.html">Cadastre-se</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="../login/login.js"></script>
</body>
</html>