/* Configurações padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.unstyled {
    all: unset;
}

html, body {
    height: 100vh; /* 100% da altura da viewport */
    width: 100%; /* 100% da largura */
    background-color: #D2D9DF; /* Cor de fundo da página (ex: cinza claro) */
    overflow: hidden;
}

/* Header: onde tem o botão de voltar */
header {
    padding: 40px 0 0 40px;
}

.btn-primary {
    background-color: white; /* Sem cor de fundo */
    text-decoration-color: black;
    border: none; /* Sem borda */
    transition: background-color 0.3s ease; /* Animação suave para a cor de fundo */
}

.btn-primary:hover {
    background-color: white;
}

/* ------------------ */
/*        Main        */
/* ------------------ */

/*  ---------------------- */
/*   Formulário cadastro   */
/*  ----------------------*/

.titulo-cadastro {
    padding: 10px 0; /* Espaçamento superior e inferior */

    font-size: 2em;
}

.div-cadastro { /* Alterado para 'div-cadastro' */
    min-height: 80vh; /* Define a altura mínima como 80% da altura da viewport */
}

.cadastro { /* Alterado para 'cadastro' */
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 40px;
}

.parte-branca {
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 40px;
}

/* Botão "cadastrar" */
.custom-button {
    border-radius: 150px;
    background-color: #030101;
    color: white; /* Cor do texto */
    border: none; /* Remove a borda */
    padding: 10px 0; /* Espaçamento interno vertical */
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove o sublinhado */
    display: block; /* Faz o botão ocupar toda a largura disponível */
    width: 100%; /* Ocupa 100% da largura do elemento pai */
    margin-top: 20px;
    font-size: 16px; /* Tamanho da fonte */
    transition-duration: 0.4s; /* Efeito de transição */
}

/*  ---------------------- */
/*   Primeira Coluna  */
/*  ----------------------*/

.parte-preta{
    padding: 20px;
    background: #242424;
    color: white;
    border-radius: 20px;
    max-height: 604px;
}

/*  ---------------------- */
/*   BOtao     */
/*  ----------------------*/

.custom-button {
    border-radius: 150px;
    background-color: #030101;
    color: white; /* Cor do texto */
    border: none; /* Remove a borda */
    padding: 10px 0; /* Espaçamento interno vertical */
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove o sublinhado */
    display: block; /* Faz o botão ocupar toda a largura disponível */
    width: 100%; /* Ocupa 100% da largura do elemento pai */
    margin-top: 20px;
    font-size: 16px; /* Tamanho da fonte */
    transition-duration: 0.4s; /* Efeito de transição */
}

.custom-button:hover{
    background-color:blue;
}

/*  ---------------------- */
/*   Parte das cidades      */
/*  ----------------------*/
.scrollable-cidades {
    max-height: 200px; /* Defina a altura máxima desejada */
    overflow-y: auto; /* Permite rolagem vertical se o conteúdo exceder a altura */
    padding-right: 10px; /* Para adicionar um pequeno espaço à direita, caso a rolagem apareça */
    
}

/*  ---------------------- */
/*   Preloader      */
/*  ----------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff; /* Cor de fundo do preloader */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Garante que o preloader fique na frente de tudo */
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3; /* Cor do anel externo */
    border-top: 5px solid #3498db; /* Cor do anel de rotação */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
