<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/recuperarsenha.css">
    <title>Recuperar Senha</title>
    
  </head>

  <body>
    
    <form id="forgotPasswordForm">
      <h2>Recuperar Senha</h2>
      <label for="email">Digite seu email:</label>
      <input type="email" id="email" name="email" >
      <button type="submit">Enviar</button>
    </form>

    <script src="/javascript/recuperarsenha.js"></script>
  </body>

</html>