<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/verificartoken.css">
    <title>Verificar Token</title>
   
  </head>

  <body>
    <form id="verifyTokenForm">
      <h2>Digite o token de verificação</h2>
      <input type="text" maxlength="1" class="token-input" id="token1" required>
      <input type="text" maxlength="1" class="token-input" id="token2" required>
      <input type="text" maxlength="1" class="token-input" id="token3" required>
      <input type="text" maxlength="1" class="token-input" id="token4" required>
      <button type="submit">Verificar</button>
    </form>
    </form>
    <script src="/javascript/verificartoken.js"></script>

  </body>

</html>